# Ignore pycharm's project folder
.idea

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore settings file with sensitive data
virus/Data/settings.ini

# Ignore test file
test.py

# Ignore compiled files
build/
dist/
*.spec

antiVirus/build/
antiVirus/dist/
antiVirus/*.spec

virus/build/
virus/dist/
virus/*.spec
