# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore settings file with sensitive data
src/Data/settings.ini

# Ignore test file
test.py

# Ignore compiled files
build/
dist/
*.spec

src/build/
src/dist/
src/*.spec
